header {
  background-color: red;
  }

nav {
  background-color: green;
  }

section {
  background-color: darkmagenta;
  }

article {
  background-color: yellow;
  }

aside {
  background-color: pink
  }

footer {
  background-color: lightseagreen
  }